body{
    background: url(../img/back.png) black no-repeat;
    background-size: cover;
}

#pacman{
    width:100px;
    height:100px;
    position:absolute;
    top:0;
    left:0;
    transition:left 500ms,top 500ms;
}