body {
    background-image: url(./img/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

img {
    position: absolute;
}

/* CORRECTION EXERCICE */
/* html,body{
    height:100%;
}

body{
    margin:0;
    background:black url(../img/fond.jpg) no-repeat;
    background-size:100% 100%;
} */