
html,body{
    height:100%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:crimson;
    text-align: center;
    height:100%;
    margin:0;
}